<%- include("partials/header"); -%>

<body>
  <div class="container">
    <h1><%= pageTitle %></h1>
    <p><%= startContent %></p>
    <% postsArray.forEach((post) => { %>
    <h1><%= post.title %></h1>
    <p>
      <%= post.body.substring(0, 100) + "..." %>
      <a href="/posts/<%= post._id%>">Read More</a>
    </p>
    <% }) %>
  </div>
</body>

<%- include("partials/footer"); -%>
<!--  const Url = "/posts/" + post.title -->